@page "/counter"
@rendermode InteractiveWebAssembly
@inject HttpClient Http

<Styles></Styles>
<PageTitle>FPL Table</PageTitle>

<h1>Current rankings</h1>

<table class="table">
    <thead>     
        <tr>
            <th>ID</th>
            <th>Event Total</th>
            <th>Player Name</th>
            <th>Rank</th>
            <th>Last Rank</th>
            <th>Rank Sort</th>
            <th>Total</th>
            <th>Entry</th>
            <th>Entry Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var manager in managers)
        {
            int i = Math.Abs(manager.rank - manager.last_rank);
           
            <tr>
                <td>@manager.id</td>
                <td>@manager.gameweekPoints</td>
                <td>@manager.playerName</td>
                <td>                   
                    @manager.rank @if (i != 0)
                    {
                        <span>@i</span>

                        @if (manager.rank - manager.last_rank > 0)
                        {
                            <button class="arrow-up" title="Rank Increase">&#x2191;</button>
                        }
                        else if (manager.rank - manager.last_rank < 0)
                        {
                            <button class="arrow-down" title="Rank Decrease">&#x2193;</button>
                        }
                    }
                </td>
                <td>@manager.last_rank</td>
                <td>@manager.rank_sort</td>
                <td>@manager.totalPoints</td>
                <td>@manager.entry</td>
                <td>
                    <a href="/manager/@manager.entry">
                        @manager.teamName
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

 




@code {
    
    List<Manager> managers = new();

    protected override async Task OnInitializedAsync()
    {

        string baseUrl = "https://localhost:7214/";
        try
        {
            managers = await Http.GetFromJsonAsync<List<Manager>>($"{baseUrl}api/manager");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
            // Handle or log the exception
        }
    }

}
