@page "/manager/{teamId:int}"
@rendermode InteractiveWebAssembly
@inject HttpClient Http

<Styles> </Styles>
@code {
    Manager teamData = new();
    List<Player> playerData = new();

    [Parameter]
    public int teamId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        string baseUrl = "https://localhost:7214/";
        try
        {
            teamData = await Http.GetFromJsonAsync<Manager>($"{baseUrl}api/manager/{teamId}");
            playerData = await Http.GetFromJsonAsync<List<Player>>($"{baseUrl}api/player/{teamId}");

            

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}

<div class="container">
    <h3>Squad: @teamData.teamName</h3>
    <div class="manager-info">
        <p>Current Gameweek Points: @teamData.gameweekPoints</p>
        <p>Rank in League: @teamData.rank</p>
        <p>Total Points: @teamData.totalPoints</p>
        <p>Last Rank: @teamData.last_rank</p>
        <p>Rank Movement: @teamData.rank_sort</p>
    </div>
    
</div>

<table class="player-table">
    <thead>
        <tr>
            <th>Player</th>
            <th>Points</th>
            <th>Team</th>
            <th>Position</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in playerData)
        {
            <tr>
                <td>@player.second_name</td>
                <td>@player.event_points</td>
                <td>@player.teamName</td>
                <td>@player.position</td>
            </tr>
        }
    </tbody>
</table>


