@page "/tierlist"
@rendermode InteractiveWebAssembly
@inject HttpClient Http
<h3>Current Trending Players</h3>


<Styles> </Styles>



@code {
    int rank = 0;
    List<Player> playerData = new();

    protected override async Task OnInitializedAsync()
    {
        

        string baseUrl = "https://localhost:7214/";
        playerData = await Http.GetFromJsonAsync<List<Player>>($"{baseUrl}api/player");           
        
        
    }
    

}



<table class="player-table">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Team</th>
            <th>Player</th>
            <th>Tier</th>
            <th>Pick Rate</th>
            <th>Total Points</th>
            <th>Price</th>
            <th>Position</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in playerData.OrderByDescending(x => x.ep_next).Where(x => x.total_points > 10))
        {
            rank += 1;
            <tr>                      
                <td>@rank</td>
                <td><img src="TeamJersey/@(player.teamName).png" /></td>
                <td>
                    <a href="@($"player/myplayer/{player.id}")">@player.web_name</a>
                </td>
                <td>@player.ep_next</td>
                <td>@player.selected_by_percent%</td>
                <td>@player.total_points</td>
                <td>@player.now_cost£</td>
                <td>@player.position</td>
            </tr>
        }
    </tbody>
</table>






